
<html>

    <head>
        <title>Surveillance</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css">  
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script src="/static/js/tinymce/js/tinymce/tinymce.min.js"></script>
    </head>

        <body>
            <p><font size="18">| {{config[0]}} | {{config[1]}} | {{config[2]}} |</font></p>
            <div class="table-responsive text-nowrap">
                {% if local == 1: %}
                <p><font size="18">Location: Isle 1B</font></p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">QTY</th>
                            <th scope="col">SKU</th>
                            <th scope="col">Name</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>1264</td>
                            <td>ABC-976</td>
                            <td>Special Widget</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>164</td>
                            <td>ABC-945</td>
                            <td>Widget</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>0</td>
                            <td>DDC-908</td>
                            <td>Bracket</td>
                            <td>NOT Available</td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
                {% if local == 2: %}
                <p><font size="18">Location: Isle 6A</font></p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">QTY</th>
                            <th scope="col">SKU</th>
                            <th scope="col">Name</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>12</td>
                            <td>A976</td>
                            <td>Wheel Bracket</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>1264</td>
                            <td>C-945</td>
                            <td>3/8 Nut</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>1234</td>
                            <td>NC-918</td>
                            <td>3/8 X 1 Bolt</td>
                            <td>Available</td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
            </div>
            <script>
                $("#FilterStatus").change(function() {
                    var id = $(this).val()
                    if (id == "a") {
                        window.location.href = "/template/0/1";
                        return true;
                    }
                    window.location.href = "/FilterTemplate/{{p}}/" + id + "/status";
                });
                $("#FilterDepartment").change(function() {
                    var id = $(this).val()
                    if (id == "a") {
                        window.location.href = "/template/0/1";
                        return true;
                    }
                    window.location.href = "/FilterTemplate/{{p}}/" + id + "/department";
                });
            
                function ConfirmDelete(id, name) {
                    if (confirm("Are you sure you want to Delete: " + name + "? This is permanent and can not be restored")) {
                        window.location.href = "/DeleteRecord/" + id + "/template"
                    }
                }
            </script>


        </body>

</html>